In [ ]:
import pandas as pd

In [ ]:
table_list = pd.read_html('https://countrycode.org/')

In [ ]:
df = table_list[0]

In [ ]:
len(table_list)

2

In [ ]:
df

,COUNTRY,COUNTRY CODE,ISO CODES,POPULATION,AREA KM2,GDP $USD
0,Afghanistan,93,AF / AFG,29121286,647500,20.65 Billion
1,Albania,355,AL / ALB,2986952,28748,12.8 Billion
2,Algeria,213,DZ / DZA,34586184,2381740,215.7 Billion
3,American Samoa,1-684,AS / ASM,57881,199,462.2 Million
4,Andorra,376,AD / AND,84000,468,4.8 Billion
...,...,...,...,...,...,...
235,Wallis and Futuna,681,WF / WLF,16025,274,NaN
236,Western Sahara,212,EH / ESH,273008,266000,NaN
237,Yemen,967,YE / YEM,23495361,527970,43.89 Billion
238,Zambia,260,ZM / ZMB,13460305,752614,22.24 Billion
239,Zimbabwe,263,ZW / ZWE,11651858,390580,10.48 Billion

In [ ]:
df.groupby('COUNTRY').describe()

                  POPULATION                                          \
                       count        mean std         min         25%
COUNTRY
Afghanistan              1.0  29121286.0 NaN  29121286.0  29121286.0
Albania                  1.0   2986952.0 NaN   2986952.0   2986952.0
Algeria                  1.0  34586184.0 NaN  34586184.0  34586184.0
American Samoa           1.0     57881.0 NaN     57881.0     57881.0
Andorra                  1.0     84000.0 NaN     84000.0     84000.0
...                      ...         ...  ..         ...         ...
Wallis and Futuna        1.0     16025.0 NaN     16025.0     16025.0
Western Sahara           1.0    273008.0 NaN    273008.0    273008.0
Yemen                    1.0  23495361.0 NaN  23495361.0  23495361.0
Zambia                   1.0  13460305.0 NaN  13460305.0  13460305.0
Zimbabwe                 1.0  11651858.0 NaN  11651858.0  11651858.0

                                                      AREA KM2                 \
                          50%         75%         max    count       mean std
COUNTRY
Afghanistan        29121286.0  29121286.0  29121286.0      1.0   647500.0 NaN
Albania             2986952.0   2986952.0   2986952.0      1.0    28748.0 NaN
Algeria            34586184.0  34586184.0  34586184.0      1.0  2381740.0 NaN
American Samoa        57881.0     57881.0     57881.0      1.0      199.0 NaN
Andorra               84000.0     84000.0     84000.0      1.0      468.0 NaN
...                       ...         ...         ...      ...        ...  ..
Wallis and Futuna     16025.0     16025.0     16025.0      1.0      274.0 NaN
Western Sahara       273008.0    273008.0    273008.0      1.0   266000.0 NaN
Yemen              23495361.0  23495361.0  23495361.0      1.0   527970.0 NaN
Zambia             13460305.0  13460305.0  13460305.0      1.0   752614.0 NaN
Zimbabwe           11651858.0  11651858.0  11651858.0      1.0   390580.0 NaN


                         min        25%        50%        75%        max
COUNTRY
Afghanistan         647500.0   647500.0   647500.0   647500.0   647500.0
Albania              28748.0    28748.0    28748.0    28748.0    28748.0
Algeria            2381740.0  2381740.0  2381740.0  2381740.0  2381740.0
American Samoa         199.0      199.0      199.0      199.0      199.0
Andorra                468.0      468.0      468.0      468.0      468.0
...                      ...        ...        ...        ...        ...
Wallis and Futuna      274.0      274.0      274.0      274.0      274.0
Western Sahara      266000.0   266000.0   266000.0   266000.0   266000.0
Yemen               527970.0   527970.0   527970.0   527970.0   527970.0
Zambia              752614.0   752614.0   752614.0   752614.0   752614.0
Zimbabwe            390580.0   390580.0   390580.0   390580.0   390580.0

[240 rows x 16 columns]

In [14]:
df

,COUNTRY,COUNTRY CODE,ISO CODES,POPULATION,AREA KM2,GDP $USD
0,Afghanistan,93,AF / AFG,29121286,647500,20.65 Billion
1,Albania,355,AL / ALB,2986952,28748,12.8 Billion
2,Algeria,213,DZ / DZA,34586184,2381740,215.7 Billion
3,American Samoa,1-684,AS / ASM,57881,199,462.2 Million
4,Andorra,376,AD / AND,84000,468,4.8 Billion
...,...,...,...,...,...,...
235,Wallis and Futuna,681,WF / WLF,16025,274,NaN
236,Western Sahara,212,EH / ESH,273008,266000,NaN
237,Yemen,967,YE / YEM,23495361,527970,43.89 Billion
238,Zambia,260,ZM / ZMB,13460305,752614,22.24 Billion
239,Zimbabwe,263,ZW / ZWE,11651858,390580,10.48 Billion

In [16]:
df.describe()['POPULATION']['mean']

28582901.370833334

In [21]:
df[df['POPULATION']>df.describe()['POPULATION']['mean']].sort_values(by='POPULATION',ascending=False).reset_index()

,index,COUNTRY,COUNTRY CODE,ISO CODES,POPULATION,AREA KM2,GDP $USD
0,43,China,86,CN / CHN,1330044000,9596960,9.33 Trillion
1,94,India,91,IN / IND,1173108018,3287590,1.67 Trillion
2,228,United States,1,US / USA,310232863,9629091,16.72 Trillion
3,95,Indonesia,62,ID / IDN,242968342,1919440,867.5 Billion
4,28,Brazil,55,BR / BRA,201103330,8511965,2.19 Trillion
5,159,Pakistan,92,PK / PAK,184404791,803940,236.5 Billion
6,17,Bangladesh,880,BD / BGD,156118464,144000,140.2 Billion
7,153,Nigeria,234,NG / NGA,154000000,923768,502 Billion
8,175,Russia,7,RU / RUS,140702000,17100000,2.113 Trillion
9,104,Japan,81,JP / JPN,127288000,377835,5.007 Trillion
10,134,Mexico,52,MX / MEX,112468855,1972550,1.327 Trillion
11,166,Philippines,63,PH / PHL,99900177,300000,272.2 Billion
12,234,Vietnam,84,VN / VNM,89571130,329560,170 Billion
13,67,Ethiopia,251,ET / ETH,88013491,1127127,47.34 Billion
14,77,Germany,49,DE / DEU,81802257,357021,3.593 Trillion
15,62,Egypt,20,EG / EGY,80471869,1001450,262 Billion
16,219,Turkey,90,TR / TUR,77804122,780580,821.8 Billion
17,96,Iran,98,IR / IRN,76923300,1648000,411.9 Billion
18,55,Democratic Republic of the Congo,243,CD / COD,70916439,2345410,18.56 Billion
19,213,Thailand,66,TH / THA,67089500,514000,400.9 Billion
20,72,France,33,FR / FRA,64768389,547030,2.739 Trillion
21,227,United Kingdom,44,GB / GBR,62348447,244820,2.49 Trillion
22,101,Italy,39,IT / ITA,60340328,301230,2.068 Trillion
23,143,Myanmar,95,MM / MMR,53414374,678500,59.43 Billion
24,198,South Africa,27,ZA / ZAF,49000000,1219912,353.9 Billion
25,199,South Korea,82,KR / KOR,48422644,98480,1.198 Trillion
26,46,Colombia,57,CO / COL,47790000,1138910,369.2 Billion
27,201,Spain,34,ES / ESP,46505963,504782,1.356 Trillion
28,225,Ukraine,380,UA / UKR,45415596,603700,175.5 Billion
29,212,Tanzania,255,TZ / TZA,41892895,945087,31.94 Billion
30,9,Argentina,54,AR / ARG,41343201,2766890,484.6 Billion
31,108,Kenya,254,KE / KEN,40046566,582650,45.31 Billion
32,168,Poland,48,PL / POL,38500000,312685,513.9 Billion
33,203,Sudan,249,SD / SDN,35000000,1861484,52.5 Billion
34,2,Algeria,213,DZ / DZA,34586184,2381740,215.7 Billion
35,37,Canada,1,CA / CAN,33679000,9984670,1.825 Trillion
36,224,Uganda,256,UG / UGA,33398682,236040,22.6 Billion
37,141,Morocco,212,MA / MAR,31627428,446550,104.8 Billion
38,165,Peru,51,PE / PER,29907003,1285220,210.3 Billion
39,97,Iraq,964,IQ / IRQ,29671605,437072,221.8 Billion
40,0,Afghanistan,93,AF / AFG,29121286,647500,20.65 Billion
41,146,Nepal,977,NP / NPL,28951852,140800,19.34 Billion

In [24]:
df['A/P'] = (df['AREA KM2']/df['POPULATION'])*10**6

In [25]:
df[df['POPULATION']>df.describe()['POPULATION']['mean']].sort_values(by='POPULATION',ascending=False).reset_index()

,index,COUNTRY,COUNTRY CODE,ISO CODES,POPULATION,AREA KM2,GDP $USD,A/P
0,43,China,86,CN / CHN,1330044000,9596960,9.33 Trillion,7215.520690
1,94,India,91,IN / IND,1173108018,3287590,1.67 Trillion,2802.461452
2,228,United States,1,US / USA,310232863,9629091,16.72 Trillion,31038.268825
3,95,Indonesia,62,ID / IDN,242968342,1919440,867.5 Billion,7899.959247
4,28,Brazil,55,BR / BRA,201103330,8511965,2.19 Trillion,42326.325477
5,159,Pakistan,92,PK / PAK,184404791,803940,236.5 Billion,4359.648118
6,17,Bangladesh,880,BD / BGD,156118464,144000,140.2 Billion,922.376485
7,153,Nigeria,234,NG / NGA,154000000,923768,502 Billion,5998.493506
8,175,Russia,7,RU / RUS,140702000,17100000,2.113 Trillion,121533.453682
9,104,Japan,81,JP / JPN,127288000,377835,5.007 Trillion,2968.347370
10,134,Mexico,52,MX / MEX,112468855,1972550,1.327 Trillion,17538.633251
11,166,Philippines,63,PH / PHL,99900177,300000,272.2 Billion,3002.997682
12,234,Vietnam,84,VN / VNM,89571130,329560,170 Billion,3679.310510
13,67,Ethiopia,251,ET / ETH,88013491,1127127,47.34 Billion,12806.298071
14,77,Germany,49,DE / DEU,81802257,357021,3.593 Trillion,4364.439480
15,62,Egypt,20,EG / EGY,80471869,1001450,262 Billion,12444.721521
16,219,Turkey,90,TR / TUR,77804122,780580,821.8 Billion,10032.630405
17,96,Iran,98,IR / IRN,76923300,1648000,411.9 Billion,21423.937871
18,55,Democratic Republic of the Congo,243,CD / COD,70916439,2345410,18.56 Billion,33072.867632
19,213,Thailand,66,TH / THA,67089500,514000,400.9 Billion,7661.407523
20,72,France,33,FR / FRA,64768389,547030,2.739 Trillion,8445.941121
21,227,United Kingdom,44,GB / GBR,62348447,244820,2.49 Trillion,3926.641509
22,101,Italy,39,IT / ITA,60340328,301230,2.068 Trillion,4992.183669
23,143,Myanmar,95,MM / MMR,53414374,678500,59.43 Billion,12702.573281
24,198,South Africa,27,ZA / ZAF,49000000,1219912,353.9 Billion,24896.163265
25,199,South Korea,82,KR / KOR,48422644,98480,1.198 Trillion,2033.759247
26,46,Colombia,57,CO / COL,47790000,1138910,369.2 Billion,23831.554719
27,201,Spain,34,ES / ESP,46505963,504782,1.356 Trillion,10854.134985
28,225,Ukraine,380,UA / UKR,45415596,603700,175.5 Billion,13292.790433
29,212,Tanzania,255,TZ / TZA,41892895,945087,31.94 Billion,22559.601097
30,9,Argentina,54,AR / ARG,41343201,2766890,484.6 Billion,66924.909854
31,108,Kenya,254,KE / KEN,40046566,582650,45.31 Billion,14549.312418
32,168,Poland,48,PL / POL,38500000,312685,513.9 Billion,8121.688312
33,203,Sudan,249,SD / SDN,35000000,1861484,52.5 Billion,53185.257143
34,2,Algeria,213,DZ / DZA,34586184,2381740,215.7 Billion,68863.913984
35,37,Canada,1,CA / CAN,33679000,9984670,1.825 Trillion,296465.750171
36,224,Uganda,256,UG / UGA,33398682,236040,22.6 Billion,7067.344753
37,141,Morocco,212,MA / MAR,31627428,446550,104.8 Billion,14119.074115
38,165,Peru,51,PE / PER,29907003,1285220,210.3 Billion,42973.881402
39,97,Iraq,964,IQ / IRQ,29671605,437072,221.8 Billion,14730.312027
40,0,Afghanistan,93,AF / AFG,29121286,647500,20.65 Billion,22234.594997
41,146,Nepal,977,NP / NPL,28951852,140800,19.34 Billion,4863.246745

In [27]:
import re

In [41]:
re.findall("\d+\.\d+",'19.34 Billion')[0]

'19'

In [49]:
def convert_text(x):
  if not isinstance(x,float):

    if 'Trillion' in x:
      rate = 1000_000
    elif  'Billion' in x :
      rate = 1000
    else:
      rate = 1
    if '.' in x:
      result = re.findall("\d+\.\d+",x)[0]
    else:
      result = re.findall("\d+",x)[0]
    return float(result)*rate
  else:
    return 0

In [45]:
df['GDP $USD'].isna().sum()

19

In [51]:
df['GDP float M$'] = df['GDP $USD'].apply(convert_text)

In [52]:
df[df['POPULATION']>df.describe()['POPULATION']['mean']].sort_values(by='POPULATION',ascending=False).reset_index()

,index,COUNTRY,COUNTRY CODE,ISO CODES,POPULATION,AREA KM2,GDP $USD,A/P,GDP float M$
0,43,China,86,CN / CHN,1330044000,9596960,9.33 Trillion,7215.520690,9330000.0
1,94,India,91,IN / IND,1173108018,3287590,1.67 Trillion,2802.461452,1670000.0
2,228,United States,1,US / USA,310232863,9629091,16.72 Trillion,31038.268825,16720000.0
3,95,Indonesia,62,ID / IDN,242968342,1919440,867.5 Billion,7899.959247,867500.0
4,28,Brazil,55,BR / BRA,201103330,8511965,2.19 Trillion,42326.325477,2190000.0
5,159,Pakistan,92,PK / PAK,184404791,803940,236.5 Billion,4359.648118,236500.0
6,17,Bangladesh,880,BD / BGD,156118464,144000,140.2 Billion,922.376485,140200.0
7,153,Nigeria,234,NG / NGA,154000000,923768,502 Billion,5998.493506,502000.0
8,175,Russia,7,RU / RUS,140702000,17100000,2.113 Trillion,121533.453682,2113000.0
9,104,Japan,81,JP / JPN,127288000,377835,5.007 Trillion,2968.347370,5007000.0
10,134,Mexico,52,MX / MEX,112468855,1972550,1.327 Trillion,17538.633251,1327000.0
11,166,Philippines,63,PH / PHL,99900177,300000,272.2 Billion,3002.997682,272200.0
12,234,Vietnam,84,VN / VNM,89571130,329560,170 Billion,3679.310510,170000.0
13,67,Ethiopia,251,ET / ETH,88013491,1127127,47.34 Billion,12806.298071,47340.0
14,77,Germany,49,DE / DEU,81802257,357021,3.593 Trillion,4364.439480,3593000.0
15,62,Egypt,20,EG / EGY,80471869,1001450,262 Billion,12444.721521,262000.0
16,219,Turkey,90,TR / TUR,77804122,780580,821.8 Billion,10032.630405,821800.0
17,96,Iran,98,IR / IRN,76923300,1648000,411.9 Billion,21423.937871,411900.0
18,55,Democratic Republic of the Congo,243,CD / COD,70916439,2345410,18.56 Billion,33072.867632,18560.0
19,213,Thailand,66,TH / THA,67089500,514000,400.9 Billion,7661.407523,400900.0
20,72,France,33,FR / FRA,64768389,547030,2.739 Trillion,8445.941121,2739000.0
21,227,United Kingdom,44,GB / GBR,62348447,244820,2.49 Trillion,3926.641509,2490000.0
22,101,Italy,39,IT / ITA,60340328,301230,2.068 Trillion,4992.183669,2068000.0
23,143,Myanmar,95,MM / MMR,53414374,678500,59.43 Billion,12702.573281,59430.0
24,198,South Africa,27,ZA / ZAF,49000000,1219912,353.9 Billion,24896.163265,353900.0
25,199,South Korea,82,KR / KOR,48422644,98480,1.198 Trillion,2033.759247,1198000.0
26,46,Colombia,57,CO / COL,47790000,1138910,369.2 Billion,23831.554719,369200.0
27,201,Spain,34,ES / ESP,46505963,504782,1.356 Trillion,10854.134985,1356000.0
28,225,Ukraine,380,UA / UKR,45415596,603700,175.5 Billion,13292.790433,175500.0
29,212,Tanzania,255,TZ / TZA,41892895,945087,31.94 Billion,22559.601097,31940.0
30,9,Argentina,54,AR / ARG,41343201,2766890,484.6 Billion,66924.909854,484600.0
31,108,Kenya,254,KE / KEN,40046566,582650,45.31 Billion,14549.312418,45310.0
32,168,Poland,48,PL / POL,38500000,312685,513.9 Billion,8121.688312,513900.0
33,203,Sudan,249,SD / SDN,35000000,1861484,52.5 Billion,53185.257143,52500.0
34,2,Algeria,213,DZ / DZA,34586184,2381740,215.7 Billion,68863.913984,215700.0
35,37,Canada,1,CA / CAN,33679000,9984670,1.825 Trillion,296465.750171,1825000.0
36,224,Uganda,256,UG / UGA,33398682,236040,22.6 Billion,7067.344753,22600.0
37,141,Morocco,212,MA / MAR,31627428,446550,104.8 Billion,14119.074115,104800.0
38,165,Peru,51,PE / PER,29907003,1285220,210.3 Billion,42973.881402,210300.0
39,97,Iraq,964,IQ / IRQ,29671605,437072,221.8 Billion,14730.312027,221800.0
40,0,Afghanistan,93,AF / AFG,29121286,647500,20.65 Billion,22234.594997,20650.0
41,146,Nepal,977,NP / NPL,28951852,140800,19.34 Billion,4863.246745,19340.0

In [53]:
df['GDP/POP'] = df['GDP float M$']/df['POPULATION']

In [57]:
df.sort_values(by='GDP/POP',ascending=False)

,COUNTRY,COUNTRY CODE,ISO CODES,POPULATION,AREA KM2,GDP $USD,A/P,GDP float M$,GDP/POP
171,Qatar,974,QA / QAT,840926,11437,213.1 Billion,1.360048e+04,213100.0,0.253411
137,Monaco,377,MC / MCO,32965,2,5.748 Billion,6.067041e+01,5748.0,0.174367
119,Liechtenstein,423,LI / LIE,35000,160,5.113 Billion,4.571429e+03,5113.0,0.146086
121,Luxembourg,352,LU / LUX,497538,2586,60.54 Billion,5.197593e+03,60540.0,0.121679
122,Macau,853,MO / MAC,449198,254,51.68 Billion,5.654522e+02,51680.0,0.115049
...,...,...,...,...,...,...,...,...,...
145,Nauru,674,NR / NRU,10065,21,NaN,2.086438e+03,0.0,0.000000
148,Netherlands Antilles,599,AN / ANT,136197,960,NaN,7.048613e+03,0.0,0.000000
223,U.S. Virgin Islands,1-340,VI / VIR,108708,352,NaN,3.238032e+03,0.0,0.000000
177,Saint Barthelemy,590,BL / BLM,8450,21,NaN,2.485207e+03,0.0,0.000000
7,Antarctica,672,AQ / ATA,0,14000000,NaN,inf,0.0,NaN

In [61]:
df.sort_values(by='POPULATION').head(20)

,COUNTRY,COUNTRY CODE,ISO CODES,POPULATION,AREA KM2,GDP $USD,A/P,GDP float M$,GDP/POP
7,Antarctica,672,AQ / ATA,0,14000000,NaN,inf,0.00,NaN
167,Pitcairn,64,PN / PCN,46,47,NaN,1.021739e+06,0.00,0.000000
45,Cocos Islands,61,CC / CCK,628,14,NaN,2.229299e+04,0.00,0.000000
232,Vatican,379,VA / VAT,921,0,NaN,0.000000e+00,0.00,0.000000
215,Tokelau,690,TK / TKL,1466,10,NaN,6.821282e+03,0.00,0.000000
44,Christmas Island,61,CX / CXR,1500,135,NaN,9.000000e+04,0.00,0.000000
154,Niue,683,NU / NIU,2166,260,10.01 Million,1.200369e+05,10.01,0.004621
205,Svalbard and Jan Mayen,47,SJ / SJM,2550,62049,NaN,2.433294e+07,0.00,0.000000
68,Falkland Islands,500,FK / FLK,2638,12173,164.5 Million,4.614481e+06,164.50,0.062358
29,British Indian Ocean Territory,246,IO / IOT,4000,60,NaN,1.500000e+04,0.00,0.000000
182,Saint Pierre and Miquelon,508,PM / SPM,7012,242,215.3 Million,3.451226e+04,215.30,0.030705
178,Saint Helena,290,SH / SHN,7460,410,NaN,5.495979e+04,0.00,0.000000
177,Saint Barthelemy,590,BL / BLM,8450,21,NaN,2.485207e+03,0.00,0.000000
140,Montserrat,1-664,MS / MSR,9341,102,NaN,1.091960e+04,0.00,0.000000
145,Nauru,674,NR / NRU,10065,21,NaN,2.086438e+03,0.00,0.000000
222,Tuvalu,688,TV / TUV,10472,26,38 Million,2.482811e+03,38.00,0.003629
6,Anguilla,1-264,AI / AIA,13254,102,175.4 Million,7.695790e+03,175.40,0.013234
235,Wallis and Futuna,681,WF / WLF,16025,274,NaN,1.709828e+04,0.00,0.000000
160,Palau,680,PW / PLW,19907,458,221 Million,2.300698e+04,221.00,0.011102
221,Turks and Caicos Islands,1-649,TC / TCA,20556,430,NaN,2.091847e+04,0.00,0.000000