# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [1]:
import numpy as np
import pandas as pd

# CSV
# EXCEL
# HTML
# SQL

# conda install sqlalchemy
# conda install lxml
# conda install html5lib
# conda install BeautifulSoup4

In [3]:
!conda install sqlalchemy

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [6]:
!conda install lxml --yes

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [7]:
!conda install html5lib

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [9]:
!conda install BeautifulSoup4 --yes

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\farid\anaconda3

  added / updated specs:
    - beautifulsoup4


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    beautifulsoup4-4.9.3       |     pyha847dfd_0          86 KB
    ------------------------------------------------------------
                                           Total:          86 KB

The following packages will be DOWNGRADED:

  beautifulsoup4                         4.9.3-pyhb0f4dca_0 --> 4.9.3-pyha847dfd_0



Downloading and Extracting Packages

beautifulsoup4-4.9.3 | 86 KB     |            |   0%
beautifulsoup4-4.9.3 | 86 KB     | #8         |  19%
beautifulsoup4-4.9.3 | 86 KB     | #######4   |  75%
beautifulsoup4-4.9.3 | 86 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [10]:
!pip list

Package                            Version
---------------------------------- -------------------
absl-py                            0.13.0
alabaster                          0.7.12
anaconda-client                    1.7.2
anaconda-navigator                 1.10.0
anaconda-project                   0.8.3
argh                               0.26.2
argon2-cffi                        20.1.0
asn1crypto                         1.4.0
astroid                            2.5
astropy                            4.0.2
astunparse                         1.6.3
async-generator                    1.10
atomicwrites                       1.4.0
attrs                              20.3.0
autopep8                           1.5.4
Babel                              2.8.1
backcall                           0.2.0
backports.functools-lru-cache      1.6.1
backports.shutil-get-terminal-size 1.0.0
backports.tempfile                 1.0
backports.weakref                  1.0.post1
bcrypt                             3.2.0
beautifulsoup4                     4.9.3
bitarray                           1.6.1
bkcharts                           0.2
bleach                             3.2.1
bokeh                              2.2.3
boto                               2.49.0
Bottleneck                         1.3.2
brotlipy                           0.7.0
cachetools                         4.2.2
certifi                            2021.5.30
cffi                               1.14.3
chardet                            3.0.4
click                              7.1.2
cloudpickle                        1.6.0
clyent                             1.2.2
colorama                           0.4.4
comtypes                           1.1.7
conda                              4.10.3
conda-build                        3.20.5
conda-package-handling             1.7.2
conda-verify                       3.4.2
contextlib2                        0.6.0.post1
cryptography                       3.1.1
cycler                             0.10.0
Cython                             0.29.21
cytoolz                            0.11.0
dask                               2.30.0
decorator                          4.4.2
defusedxml                         0.6.0
diff-match-patch                   20200713
distributed                        2.30.1
docutils                           0.16
entrypoints                        0.3
et-xmlfile                         1.0.1
fastcache                          1.1.0
filelock                           3.0.12
flake8                             3.8.4
Flask                              1.1.2
flatbuffers                        1.12
fsspec                             0.8.3
future                             0.18.2
gast                               0.3.3
gevent                             20.9.0
glob2                              0.7
gmpy2                              2.0.8
google-auth                        1.34.0
google-auth-oauthlib               0.4.4
google-pasta                       0.2.0
greenlet                           0.4.17
grpcio                             1.32.0
h5py                               2.10.0
HeapDict                           1.0.1
html5lib                           1.1
idna                               2.10
imageai                            2.1.6
imageio                            2.9.0
imagesize                          1.2.0
importlib-metadata                 2.0.0
iniconfig                          1.1.1
intervaltree                       3.1.0
ipykernel                          5.3.4
ipython                            7.19.0
ipython-genutils                   0.2.0
ipywidgets                         7.5.1
isort                              5.6.4
itsdangerous                       1.1.0
jdcal                              1.4.1
jedi                               0.17.1
Jinja2                             2.11.2
joblib                             0.17.0
json5                              0.9.5
jsonschema                         3.2.0
jupyter                            1.0.0
jupyter-client                     6.1.7
jupyter-console                    6.2.0
jupyter-core                       4.6.3
jupyter-http-over-ws               0.0.8
jupyterlab                         2.2.6
jupyterlab-pygments                0.1.2
jupyterlab-server                  1.2.0
Keras                              2.4.3
Keras-Preprocessing                1.1.2
keras-resnet                       0.2.0
keyring                            21.4.0
kiwisolver                         1.3.0
lazy-object-proxy                  1.4.3
libarchive-c                       2.9
llvmlite                           0.34.0
locket                             0.2.0
lvis                               0.5.3
lxml                               4.6.3
Markdown                           3.3.4
MarkupSafe                         1.1.1
matplotlib                         3.4.2
mccabe                             0.6.1
menuinst                           1.4.16
mistune                            0.8.4
mkl-fft                            1.3.0
mkl-random                         1.2.2
mkl-service                        2.4.0
mock                               4.0.2
more-itertools                     8.6.0
mpmath                             1.1.0
msgpack                            1.0.0
msvc-runtime                       14.29.30036
multipledispatch                   0.6.0
navigator-updater                  0.2.1
nbclient                           0.5.1
nbconvert                          6.0.7
nbformat                           5.0.8
nest-asyncio                       1.4.2
networkx                           2.5
nltk                               3.5
nose                               1.3.7
notebook                           6.1.4
numba                              0.51.2
numexpr                            2.7.3
numpy                              1.21.1
numpydoc                           1.1.0
oauthlib                           3.1.1
object-detection                   0.1
olefile                            0.46
opencv-contrib-python              4.5.3.56
opencv-python                      4.5.3.56
openpyxl                           3.0.5
opt-einsum                         3.3.0
packaging                          20.4
pandas                             1.1.3
pandocfilters                      1.4.3
paramiko                           2.7.2
parso                              0.7.0
partd                              1.1.0
path                               15.0.0
pathlib2                           2.3.5
pathtools                          0.1.2
patsy                              0.5.1
pep8                               1.7.1
pexpect                            4.8.0
pickleshare                        0.7.5
Pillow                             8.3.1
pip                                20.2.4
pkginfo                            1.6.1
pluggy                             0.13.1
ply                                3.11
prometheus-client                  0.8.0
prompt-toolkit                     3.0.8
protobuf                           3.17.3
psutil                             5.7.2
py                                 1.9.0
pyasn1                             0.4.8
pyasn1-modules                     0.2.8
pycodestyle                        2.6.0
pycosat                            0.6.3
pycparser                          2.20
pycurl                             7.43.0.6
pydocstyle                         5.1.1
pyflakes                           2.2.0
Pygments                           2.7.2
pylint                             2.6.0
PyNaCl                             1.4.0
pyodbc                             4.0.0-unsupported
pyOpenSSL                          19.1.0
pyparsing                          2.4.7
pyreadline                         2.1
pyrsistent                         0.17.3
PySocks                            1.7.1
pytest                             0.0.0
python-dateutil                    2.8.1
python-jsonrpc-server              0.4.0
python-language-server             0.35.1
pytz                               2020.1
PyWavelets                         1.1.1
pywin32                            227
pywin32-ctypes                     0.2.0
pywinpty                           0.5.7
PyYAML                             5.3.1
pyzmq                              19.0.2
QDarkStyle                         2.8.1
QtAwesome                          1.0.1
qtconsole                          4.7.7
QtPy                               1.9.0
regex                              2020.10.15
requests                           2.24.0
requests-oauthlib                  1.3.0
rope                               0.18.0
rsa                                4.7.2
Rtree                              0.9.4
ruamel-yaml                        0.15.87
scikit-image                       0.17.2
scikit-learn                       0.23.2
scipy                              1.6.2
seaborn                            0.11.0
Send2Trash                         1.5.0
setuptools                         50.3.1.post20201107
simplegeneric                      0.8.1
singledispatch                     3.4.0.3
sip                                4.19.13
six                                1.15.0
snowballstemmer                    2.0.0
sortedcollections                  1.2.1
sortedcontainers                   2.2.2
soupsieve                          2.0.1
Sphinx                             3.2.1
sphinxcontrib-applehelp            1.0.2
sphinxcontrib-devhelp              1.0.2
sphinxcontrib-htmlhelp             1.0.3
sphinxcontrib-jsmath               1.0.1
sphinxcontrib-qthelp               1.0.3
sphinxcontrib-serializinghtml      1.1.4
sphinxcontrib-websupport           1.2.4
spyder                             4.1.5
spyder-kernels                     1.9.4
SQLAlchemy                         1.3.20
statsmodels                        0.12.0
sympy                              1.6.2
tables                             3.6.1
tblib                              1.7.0
tensorboard                        2.5.0
tensorboard-data-server            0.6.1
tensorboard-plugin-wit             1.8.0
tensorflow                         2.4.0
tensorflow-estimator               2.4.0
termcolor                          1.1.0
terminado                          0.9.1
testpath                           0.4.4
tf-models-official                 2.5.1
tf-slim                            1.1.0
threadpoolctl                      2.1.0
tifffile                           2020.10.1
toml                               0.10.1
toolz                              0.11.1
tornado                            6.0.4
tqdm                               4.50.2
traitlets                          5.0.5
typing-extensions                  3.7.4.3
ujson                              4.0.1
unicodecsv                         0.14.1
urllib3                            1.25.11
watchdog                           0.10.3
wcwidth                            0.2.5
webencodings                       0.5.1
Werkzeug                           1.0.1
wheel                              0.35.1
widgetsnbextension                 3.5.1
win-inet-pton                      1.1.0
win-unicode-console                0.5
wincertstore                       0.2
wrapt                              1.12.1
xlrd                               1.2.0
XlsxWriter                         1.3.7
xlwings                            0.20.8
xlwt                               1.3.0
xmltodict                          0.12.0
yapf                               0.30.0
zict                               2.0.0
zipp                               3.4.0
zope.event                         4.5.0
zope.interface                     5.1.2

## CSV

### CSV Input

In [11]:
df = pd.read_csv('example',index_col=0)
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [12]:
df.to_csv('example',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [15]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Excel Output

In [16]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

https://www.jamaran.news/%D8%A8%D8%AE%D8%B4-%D9%88%D8%B1%D8%B2%D8%B4%DB%8C-160/1517831-%D8%AC%D8%AF%D9%88%D9%84-%D8%B1%D8%AF%D9%87-%D8%A8%D9%86%D8%AF%DB%8C-%D9%85%D8%AF%D8%A7%D9%84%DB%8C-%D8%A7%D9%84%D9%85%D9%BE%DB%8C%DA%A9-%D8%AA%D9%88%DA%A9%DB%8C%D9%88

In [6]:
df = pd.read_html('https://www.jamaran.news/%D8%A8%D8%AE%D8%B4-%D9%88%D8%B1%D8%B2%D8%B4%DB%8C-160/1517831-%D8%AC%D8%AF%D9%88%D9%84-%D8%B1%D8%AF%D9%87-%D8%A8%D9%86%D8%AF%DB%8C-%D9%85%D8%AF%D8%A7%D9%84%DB%8C-%D8%A7%D9%84%D9%85%D9%BE%DB%8C%DA%A9-%D8%AA%D9%88%DA%A9%DB%8C%D9%88',index_col=0)

In [7]:
type(df)

list

In [8]:
df

[                    کشور   طلا  نقره  برنز  مجموع
 رده
 1.0               آمریکا  39.0  41.0  33.0  113.0
 2.0                  چین  38.0  32.0  18.0   88.0
 3.0                 ژاپن  27.0  14.0  17.0   58.0
 4.0             بریتانیا  22.0  21.0  22.0   65.0
 5.0   کمیته المپیک روسیه  20.0  27.0  23.0   70.0
 6.0             استرالیا  17.0   7.0  22.0   46.0
 7.0                 هلند  10.0  12.0  14.0   36.0
 8.0                آلمان  10.0  11.0  16.0   37.0
 9.0              ایتالیا  10.0  10.0  20.0   40.0
 10.0              فرانسه   9.0  12.0  11.0   32.0
 NaN                  NaN   NaN   NaN   NaN    NaN
 27.0               ایران   3.0   2.0   2.0    7.0]

In [9]:
df[0]

                    کشور   طلا  نقره  برنز  مجموع
رده
1.0               آمریکا  39.0  41.0  33.0  113.0
2.0                  چین  38.0  32.0  18.0   88.0
3.0                 ژاپن  27.0  14.0  17.0   58.0
4.0             بریتانیا  22.0  21.0  22.0   65.0
5.0   کمیته المپیک روسیه  20.0  27.0  23.0   70.0
6.0             استرالیا  17.0   7.0  22.0   46.0
7.0                 هلند  10.0  12.0  14.0   36.0
8.0                آلمان  10.0  11.0  16.0   37.0
9.0              ایتالیا  10.0  10.0  20.0   40.0
10.0              فرانسه   9.0  12.0  11.0   32.0
NaN                  NaN   NaN   NaN   NaN    NaN
27.0               ایران   3.0   2.0   2.0    7.0

In [12]:
table_list = pd.read_html('https://countrycode.org/')

In [14]:
len(table_list)

2

In [15]:
table_list[0]

,COUNTRY,COUNTRY CODE,ISO CODES,POPULATION,AREA KM2,GDP $USD
0,Afghanistan,93,AF / AFG,29121286,647500,20.65 Billion
1,Albania,355,AL / ALB,2986952,28748,12.8 Billion
2,Algeria,213,DZ / DZA,34586184,2381740,215.7 Billion
3,American Samoa,1-684,AS / ASM,57881,199,462.2 Million
4,Andorra,376,AD / AND,84000,468,4.8 Billion
...,...,...,...,...,...,...
235,Wallis and Futuna,681,WF / WLF,16025,274,NaN
236,Western Sahara,212,EH / ESH,273008,266000,NaN
237,Yemen,967,YE / YEM,23495361,527970,43.89 Billion
238,Zambia,260,ZM / ZMB,13460305,752614,22.24 Billion
239,Zimbabwe,263,ZW / ZWE,11651858,390580,10.48 Billion

In [16]:
table_list[1]

               COUNTRY COUNTRY CODE ISO CODES
0          Afghanistan           93  AF / AFG
1              Albania          355  AL / ALB
2              Algeria          213  DZ / DZA
3       American Samoa        1-684  AS / ASM
4              Andorra          376  AD / AND
..                 ...          ...       ...
235  Wallis and Futuna          681  WF / WLF
236     Western Sahara          212  EH / ESH
237              Yemen          967  YE / YEM
238             Zambia          260  ZM / ZMB
239           Zimbabwe          263  ZW / ZWE

[240 rows x 3 columns]

In [10]:
df = pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

_____
_____
# SQL (Optional)



The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [17]:
from sqlalchemy import create_engine

In [57]:
engine = create_engine('sqlite:///:memory:')

In [58]:
df.to_sql('data', engine)

In [59]:
sql_df = pd.read_sql('data',con=engine)

In [60]:
sql_df

   index  Unnamed: 0   a   b   c   d
0      0           0   0   1   2   3
1      1           1   4   5   6   7
2      2           2   8   9  10  11
3      3           3  12  13  14  15